#posts {
  padding-bottom: 5rem;
}

.posts-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  width: 70%;
  margin: 0 auto;
}

.posts-wrapper h2 {
  border: 0;
  padding-left: 0;
}

.posts-wrapper h3 {
  font-size: 2rem;
}

@media (max-width: 995px) {
  .posts-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 995px) {
  .posts-wrapper {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .posts-wrapper {
    grid-template-columns: 1fr;
  }
}
