.card-dark {
  border: 1px solid #ff006675;
  display: flex;
  align-items: center;
  height: 3rem;
  margin-bottom: 1rem;
  background: url("../../img/js.png") no-repeat center/cover;
}

.card-dark .skill-icon {
  font-size: 1.4rem;
  margin: 1rem;
}

.card-dark .skill {
  font-size: 1.1rem;
}
